<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .el-table .warning-row {
            background: oldlace;
        }

        .el-table .success-row {
            background: #f0f9eb;
        }
    </style>

</head>
<body>
<div id="app">
    <!--搜索表单-->
    <el-form :inline="true" :model="teacher" class="demo-form-inline">
        <el-form-item label="姓名">
            <el-input v-model="teacher.tname" placeholder="教师姓名"></el-input>
        </el-form-item>
        <!--<el-form-item label="工号">
            <el-input v-model="teacher.tno" placeholder="教师工号"></el-input>
        </el-form-item>-->
        <el-form-item label="性别">
            <el-radio-group v-model="teacher.tsex">
                <el-radio label="男"></el-radio>
                <el-radio label="女"></el-radio>
            </el-radio-group>
        </el-form-item>

        <el-form-item label="学院">
            <el-input v-model="teacher.tdept" placeholder="所属学院"></el-input>
        </el-form-item>

        <el-form-item>
            <el-button type="primary" @click="onSubmit">查询</el-button>
        </el-form-item>
    </el-form>

    <!--按钮-->

    <el-row>
        <el-button type="danger" plain @click="deleteByIds">批量删除</el-button>
        <el-button type="primary" plain @click="dialogVisible = true">新增</el-button>

    </el-row>
    <!--添加数据对话框表单-->
    <el-dialog
            title="添加成员"
            :visible.sync="dialogVisible"
            width="30%"
    >
        <el-form ref="form" :model="teacher" label-width="80px">
            <el-form-item label="教师姓名">
                <el-input v-model="teacher.tname"></el-input>
            </el-form-item>

            <el-form-item label="教师工号">
                <el-input v-model="teacher.tno"></el-input>
            </el-form-item>

            <el-form-item label="性别">
                <el-radio-group v-model="teacher.tsex">
                    <el-radio label="男"></el-radio>
                    <el-radio label="女"></el-radio>
                </el-radio-group>
            </el-form-item>

            <el-form-item label="担任学科">
                <el-radio-group v-model="teacher.tsubject">
                    <el-radio label="数学分析"></el-radio>
                    <el-radio label="数学模型"></el-radio>
                    <el-radio label="数据库"></el-radio>
                    <el-radio label="面向对象编程"></el-radio>
                    <el-radio label="软件工程"></el-radio>
                </el-radio-group>
            </el-form-item>

            <el-form-item label="所在学院">
                <el-radio-group v-model="teacher.tdept">
                    <el-radio label="数学学院"></el-radio>
                    <el-radio label="计算机学院"></el-radio>
                </el-radio-group>
            </el-form-item>



            <el-form-item>
                <el-button type="primary" @click="addTeacher">提交</el-button>
                <el-button @click="dialogVisible = false">取消</el-button>
            </el-form-item>
        </el-form>

    </el-dialog>


    <!--表格-->         <!--表格数据模型 tabledata-->
    <template>
        <el-table
                :data="tableData"
                style="width: 100%"
                :row-class-name="tableRowClassName"
                @selection-change="handleSelectionChange"
        >
            <el-table-column
                    type="selection"
                    width="55">
            </el-table-column>
            <el-table-column
                    type="index"
                    width="50">
            </el-table-column>

            <el-table-column
                    prop="tname"
                    label="教师姓名"
                    align="center"
            >
            </el-table-column>
            <el-table-column
                    prop="tno"
                    label="教师工号"
                    align="center"
            >
            </el-table-column>
            <el-table-column
                    prop="tsex"
                    align="center"
                    label="性别">
            </el-table-column>
            <el-table-column
                    prop="tsubject"
                    align="center"
                    label="担任科目">
            </el-table-column><el-table-column
                prop="tdept"
                align="center"
                label="所属学院">
        </el-table-column>

            <el-table-column
                    align="center"
                    label="操作">

                <el-row>
                    <el-button type="primary" @click="dialogVisible = true;updateTeacher()" >修改</el-button>
                    <el-button type="danger" @click="deleteTeacher">删除</el-button>
                </el-row>
                <el-dialog
                        title="修改信息"
                        :visible.sync="dialogVisible"
                        width="30%"
                >

                    <el-form ref="form" :model="teacher" label-width="80px">
                        <el-form-item label="教师姓名">
                            <el-input v-model="teacher.tname"></el-input>
                        </el-form-item>

                        <el-form-item label="教师工号">
                            <el-input v-model="teacher.tno"></el-input>
                        </el-form-item>

                        <el-form-item label="性别">
                            <el-radio-group v-model="teacher.tsex">
                                <el-radio label="男"></el-radio>
                                <el-radio label="女"></el-radio>
                            </el-radio-group>
                        </el-form-item>

                        <el-form-item label="担任学科">
                            <el-radio-group v-model="teacher.tsubject">
                                <el-radio label="数学分析"></el-radio>
                                <el-radio label="数学模型"></el-radio>
                                <el-radio label="数据库"></el-radio>
                                <el-radio label="面向对象编程"></el-radio>
                                <el-radio label="软件工程"></el-radio>
                            </el-radio-group>
                        </el-form-item>

                        <el-form-item label="所在学院">
                            <el-radio-group v-model="teacher.tdept">
                                <el-radio label="数学学院"></el-radio>
                                <el-radio label="计算机学院"></el-radio>
                            </el-radio-group>
                        </el-form-item>



                        <el-form-item>
                            <el-button type="primary" @click="updateAddTeacher">提交</el-button>
                            <el-button @click="dialogVisible = false">取消</el-button>
                        </el-form-item>
                    </el-form>

                </el-dialog>

            </el-table-column>

        </el-table>
    </template>

    <!--分页工具条-->
    <el-pagination
            @size-change="handleSizeChange"
            @current-change="handleCurrentChange"
            :current-page="currentPage"
            :page-sizes="[5, 10, 15, 20]"
            :page-size="pageSize"
            layout="total, sizes, prev, pager, next, jumper"
            :total="totalCount">
    </el-pagination>

</div>


<script src="../../js/vue.js"></script>
<script src="../../element-ui/lib/index.js"></script>
<link rel="stylesheet" href="../../element-ui/lib/theme-chalk/index.css">

<!--<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>-->
<!--
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
-->
<script src="../../js/axios-0.18.0.js"></script>
<script>

    new Vue({
        el: "#app",

        mounted(){
            this.selectAll();
        },

        methods: {
            /*selectAll(){
                var _this = this
              axios({
                  method:'get',
                  url:"http://localhost:8080/brand-case/teacher/selectAll",
                  data:this.teacher
              }).then(function (res) {
                  _this.tableData = res.data;
              })
            },*/

            selectAll(){
                axios({
                    method:'post',
                    url:"http://localhost:8080/brand-case/teacher/selectByPageAndCondition?currentPage="+this.currentPage+"&pageSize="+this.pageSize,
                    data:this.teacher
                }).then(res=> {
                    this.tableData = res.data.rows;
                    this.totalCount = res.data.totalCount;
                })
            },

            //获取（选择修/删除后生成的数据）每一行的数据
            tableRowClassName({row, rowIndex}) {
                this.teacher= row;
                if (rowIndex === 1) {
                    return 'warning-row';
                } else if (rowIndex === 3) {
                    return 'success-row';
                }
                return '';
            },

            // 复选框选中后执行的方法
            handleSelectionChange(val) {
                this.multipleSelection = val;

                console.log(this.multipleSelection)
            },
            // 查询方法
            onSubmit() {
                this.selectAll();


            },
            // 添加数据
            addTeacher() {
                //console.log(this.teacher);
                var _this = this;
                axios({
                    method: "post",
                    url:"http://localhost:8080/TeacherAdd",
                    data:_this.teacher
                }).then(function (res) {
                    _this.dialogVisible = false;

                    _this.selectAll();

                    _this.$message({
                        message:'已添加成功',
                        type:'success'
                    })
                })
            },

            //分页
            handleSizeChange(val) {
                this.pageSize=val;
                console.log(`每页 ${val} 条`);

            },
            handleCurrentChange(val) {
                this.currentPage = val;
                console.log(`当前页: ${val}`);

            },

            handleClick(row) {
                console.log(row);
                //this.teacher= row;
            },

            updateTeacher(){   //修改=删除原有的+添加新的
                this.$confirm('此操作将永久修改该文件, 是否继续?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    axios({
                        method:"post",
                        url:"http://localhost:8080/TeacherUpdate",
                        data:this.teacher
                    }).then(res=>{
                        if(res.data=="success"){
                            //删除成功
                            //返回查询页面
                            //this.selectAll();

                            /*//提示已删除
                            this.$message({
                                message: '已成功修改',
                                type: 'success'
                            });*/
                        }
                    })
                }).catch(() => {
                    this.dialogVisible = false;
                    this.$message({
                        type: 'info',
                        message: '已取消修改'
                    });
                });
            },
            // 添加修改后的数据
            updateAddTeacher() {
                //console.log(this.teacher);
                var _this = this;
                axios({
                    method: "post",
                    url:"http://localhost:8080/TeacherAdd",
                    data:_this.teacher
                }).then(function (res) {
                    _this.dialogVisible = false;

                    _this.selectAll();

                    _this.$message({
                        message:'已添加修改',
                        type:'success'
                    })
                })
            },

            deleteTeacher(){

                this.$confirm('此操作将永久删除该文件, 是否继续?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    axios({
                        method:"post",
                        url:"http://localhost:8080/TeacherDelete",
                        data:this.teacher
                    }).then(res=>{
                        if(res.data=="success"){
                            //删除成功
                            //返回查询页面
                            this.selectAll();

                            //提示已删除
                            this.$message({
                                message: '已成功删除',
                                type: 'success'
                            });
                        }
                    })
                }).catch(() => {
                    this.$message({
                        type: 'info',
                        message: '已取消删除'
                    });
                });

            },

            deleteByIds() {

                this.$confirm('此操作将永久删除该文件, 是否继续?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    //1、从复选框里获取要删除的数据
                    for (let i = 0; i < this.multipleSelection.length; i++) {
                        let element = this.multipleSelection[i];
                        this.selectedIds[i] = element.tno;
                    }

                    axios({
                        method: "post",
                        url: "http://localhost:8080/brand-case/teacher/deleteByIds",
                        data: this.selectedIds
                    }).then(res => {
                        if (res.data=="success"){
                            //删除成功
                            //返回查询页面
                            this.selectAll();

                            //提示已删除
                            this.$message({
                                message: '已成功删除',
                                type: 'success'
                            });
                        }

                    })
                }).catch(() => {
                    this.$message({
                        type: 'info',
                        message: '已取消删除'
                    });
                });
            }

        },
        data() {
            return {
                //每页显示数据
                pageSize: 5,
                totalCount: 100,
                // 当前页码
                currentPage: 1,
                // 添加数据对话框是否展示的标记
                dialogVisible: false,
                //批量删除的数组数据
                selectedIds: [],
                dTeacher:'',
                // 品牌模型数据
                teacher: {
                    tname: '',
                    tno: "",
                    tsex: '',
                    tdept: '',
                    tsubject: ''
                },
                // 复选框选中数据集合
                multipleSelection: [],
                // 表格数据
                tableData: [{
                    tname: '李志文',
                    tno: "123456",
                    tsex: "男",
                    tdept: '数院',
                    tsubject: '数据库'
                }]
            }
        }
    })
</script>

</body>
</html>